{% extends 'base.html' %}

{% block title %}Rules{% endblock %}

{% block content %}
    <div class="container mt-3 mx-3">

        <h1>Правила!</h1>
        <p>В данной игре нужно угадать загаданное число. Для этого начните игру и введите произвольное число и
            нажмите кнопку "Проверить".</p>
        <p>Вам будет сказано: сколько цифр вы угадали и сколько находятся на своем месте. Таким образом
        Вы сможете угадать все число целиком.</p>
        <p>Получайте удовольствие и удачи!</p>

    </div>
{% endblock %}