{% extends 'base.html' %}

{% block title %}Rules{% endblock %}

{% block content %}

        <h2 class="my-3">Правила!</h2>
        <p>В данной игре нужно угадать случайное число. Для начала введите количество цифр в числе (чем
                больше - тем сложнее) и жмите на кнопку "Старт". <br>
                Чтобы узнать насколько вы удачливы, введите Ваше число и нажмите кнопку "Проверить". <br>
        Вам будет сказано: сколько цифр вы угадали и сколько находятся на своем месте. Таким образом
        Вы сможете угадать все число целиком. <br>
        Пора начинать! Получайте удовольствие и удачи!</p>

{% endblock %}