{% extends 'base.html' %}

{% block title %}guess{% endblock %}

{% block content %}

    <h2 class="my-3">Загадано число из {{context.len}} цифр</h2>

    {% if context.response %}
    <h3>Верных цифр: {{ context.correct_digit }}</h3>
    <h3>Цифр на своем месте: {{ context.right_place }}</h3>
    {% endif %}

    <form action="{% url 'guess' %}" class="mt-3" method="post">
        {% csrf_token %}
        {% for field in context.form %}

            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}

            {{ field.label}}
            {{ field }}

        {% endfor%}
        <button type="submit" class="btn btn-primary mt-2">Проверить</button>
    </form>

{% endblock %}

